.kiwi-nicklist-user--mode-o::after {
    content: 'Moderador';
    font-size: 0.7em;
    line-height: 30px;
    color: #127112;
    font-weight: 600;
    font-family: saira,sans-serif;
    vertical-align: text-bottom;}


.kiwi-nicklist-user--mode-a::after {
    content: 'Admin';
    font-size: 0.7em;
    line-height: 30px;
    color: #127112;
    font-weight: 600;
    font-family: saira,sans-serif;
    vertical-align: text-bottom;}

.kiwi-nicklist-user--mode-q::after {
    content: 'Jefe';
    font-size: 0.7em;
    line-height: 30px;
    color: #127112;
    font-weight: 600;
    font-family: saira,sans-serif;
    vertical-align: text-bottom;}


.kiwi-nicklist-user--mode-h::after {
    content: 'MedioModerador';
    font-size: 0.7em;
    line-height: 30px;
    color: #127112;
    font-weight: 600;
    font-family: saira,sans-serif;
    vertical-align: text-bottom;}

